<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SB Admin 2 - 404</title>
</head>
<body>
<!--<button class="button btn-primary">testButton</button>
<h1>this is my 4xx page</h1>
<h1>[[${timestamp}]]</h1>
<h1>[[${status}]]</h1>-->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">4XX</div>
<!--        <p class="lead text-gray-800 mb-5">Page Not Found</p>-->
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a th:href="@{/admin}" href="index.html">&larr; Back to Dashboard</a>
    </div>

</div>


</body>
</html>